#header{
        position: absolute;
        top: 10%;
        left: 50%;
        margin-top: -50px;
        margin-left: -250px;
        max-width: 500px;
        height: 100px;
        border:thin solid black;
    }​
.tabsdemoDynamicTabs md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicTabs md-content md-tabs {
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicTabs md-content md-tabs md-tab-content {
      background: #f6f6f6; }
    .tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicTabs md-content h1:first-child {
    margin-top: 0; }

.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0; }

.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px; }

.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }

.tabsdemoDynamicTabs .edit-form input {
  width: 100%; }

.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5; }

.tabsdemoDynamicTabs label {
  text-align: left; }

.tabsdemoDynamicTabs .long > input {
  width: 264px; }

.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px); }

  .md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;

  }

  .md-toolbar-tools
  {
    background-color:#3F51B5
  }
.md-primary md-raised demo-dialog-open-button
{
  align-content: right;
    min-height: 500px;
}
.one
{
height:100%;
}
.sample .md-padding
{
  padding: 0px;
}
md-tabs.ng-isolate-scope
{
  height: 800px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.dialogdemoThemeInheritance .container {
  text-align: center; }
  .selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }
    table, th , td {

          border-collapse: collapse;
          text-align: center;
          padding: 50px;
          font-size: 110%;

       }
       .carddemoBasicUsage .card-media {
         background-color: #999999; }
         body {
    overflow:hidden;
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
