<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="home.css">
        <script src="js/angular.min.js"></script>
              <script src="js/angular-cookies.js"></script>
              <script src="js/angular-cookies.min.js">  </script>
  <link rel="stylesheet" href="js/angular-material.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.css">
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
      <script src="js/angular-animate.min.js"></script>
      <script src="js/angular-aria.min.js"></script>
      <script src="js/angular-messages.min.js"></script>
      <script src="js/angular-material.min.js"></script>
        <script src="home.js"></script>
  <style>
   .carousel-inner > .item > img,
   .carousel-inner > .item > a > img {
       width: 90%;
       margin: auto;
   }
   </style>
</head>
<body ng-app="MyApp">
  <div ng-controller="AppCtrl" class="sample tabsdemoDynamicTabs" layout="column" ng-cloak="" >
    <md-toolbar>
      <div class="md-toolbar-tools">
     <md-truncate style="position: absolute; left: 30px; right: 100px; top: 20px; bottom: 13px;">MOTHER THERESA CO-EDUCATION HIGH SCHOOL</md-truncate>

       <span flex=""></span>
                <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                <img ng-src="icons/facebbok.png" align="middle" width="30px" height="30px" style="position: absolute; left: 5px; right: 100px; top: 5px;">
                </md-button>
                <md-button aria-label="Facebook" class="md-fab md-raised md-mini"><a href="www.google.com">
                <img ng-src="icons/twitter.png" align="middle" width="30px" height="30px" style="position: absolute; left: 5px; right: 100px; top: 5px;"></a>
                </md-button>
                <md-button class="md-raised" aria-label="Learn More">Sign Up

                 </md-button>
                 <md-button class="md-raised" aria-label="Learn More">
                   Login
                 </md-button>
      </div>
    </md-toolbar>
    <md-content class="md-padding" width=10%>
    <md-tabs  md-selected=selectedtab md-border-bottom="" md-autoselect="" height=200px>
      <md-tab label="profile" onclick="">
    <h1 align="center">STUDENT INFORMATION</h1>
    <table ALIGN="CENTER" width="40%" class="names" height="500px">
               <tr>
                 <td>STUDENT NAME</td>
                 <td>{{username}}</td>
               </tr>
               <tr>
                 <td> ROLL NUMBER</td>
                 <td>{{studentdata.rollnumber}}</td>
               </tr>
               <tr>
                 <td>CLASS</td>
                 <td>{{studentdata.class}}</td>
               </tr>
               <tr>
                 <td>SECTION</td>
                 <td>{{studentdata.section}}</td>
               </tr>
               <tr>
                 <td>GENDER</td>
                 <td>{{studentdata.gender}}</td>
               </tr>
               <tr>
                 <td>FATHER NAME</td>
                 <td>{{studentdata.fathername}}</td>
               </tr>
               <tr>
                 <td>MOTHER NAME</td>
                 <td>{{studentdata.mothername}}</td>
               </tr>
               <tr>
                 <td>DATE OF BIRTH</td>
                 <td>{{studentdata.dateofbirth}}</td>
               </tr>
               <tr>
                 <td>DATE OF JOINING</td>
                 <td>{{studentdata.dateofjoin}}</td>
               </tr>
               <tr>
                 <td>ADMISSION NUMBER</td>
                 <td>{{studentdata.admission}}</td>
               </tr>
               <tr>
                 <td>CASTE CATEGORY</td>
                 <td>{{studentdata.caste}}</td>
               </tr>
               <tr>
                 <td>RELIGION</td>
                 <td>{{studentdata.religion}}</td>
               </tr>
               <tr>
                 <td colspan="2" align="center">CONTACTS</td>
               </tr>
               <tr>
                 <td>ADDRESS</td>
                 <td>{{studentdata.address}}</td>
               </tr>
               <tr>
                 <td>STUDENT PHONE NUMBER</td>
                 <td>{{studentdata.studentphone}}</td>
               </tr>
               <tr>
                 <td>PARENT PHONE NUMBER</td>
                 <td>{{studentdata.fatherphone}}</td>
               </tr>
             </table>
           </md-tab>
           <md-tab label="attendence" onclick="">
             <h1 align="center"><label>Attendence Register</label></h1>
             <md-content>
               <table class="" align="center" border="1" padding="10px" width="50%" height="50%" align="center">
               <tr ng-repeat="value in cbValues track by $index">
                 <td><label>Name: Ravi  raja</label></td>
                 <td>{{"Roll Number "+($index+1)}} <input type="checkbox" ng-model="cbValues[$index]"  ng-value="$index" /></td>
               </tr>
              </table>
              <md-button type="submit" name="submit" style="margin-left: 45%" md-colors="{background: 'blue'}" class="primary-button"  ng-click="setattendence(cbValues)">POST ATTENDENCE</md-button>
              </md-content>
           </md-tab>
           <md-tab label="Academic Marks" onclick="">
             <h1 align="center"><label>Marks Register</label></h1>
             <md-content>
               <table class="" align="center" border="1" padding="10px" width="50%" height="50%">
               <tr ng-repeat="value in cbmarks track by $index">
                 <td><label>Name: Ravi  raja</label></td>
                 <td>{{"Roll Number "+($index+1)}} <input type="checkbox" ng-model="cbmarks[$index]"  ng-value="$index"/></td>
                 <td>
              <select ng-model="selectedName" ng-options="x for x in exams"></select>
              </td>
              <td>
                <md-button class="md-raised" ng-click="showUpdate($index+1,selectedName)">
               Submit Marks
            </md-button>
            </td>
            </tr>
              </table>
              <script type="text/ng-template" id="/create.product.tmp.html">
            <md-dialog flex="30">
              <md-dialog-content layout-padding="layout-padding_md">
                <div>
                  <h3 class="modal-title" id="modal-title" align="center">ROLL NUMBER:{{index}}</h3>
                  <h3 class="modal-title" id="modal-title" align="center">{{selectedName}}</h3>
                      <form name="createProduct" ng-submit="create(x)" ng-controller="AppCtrl">

                        <md-input-container class="md-block" >
                          <label>HINDI</label>
                          <input ng-model="x.hindi" minlength=1 required>
                        </md-input-container>

                        <md-input-container md-no-float="" class="md-block">
                          <label>TELUGU</label>
                          <input ng-model="x.telugu" ng-pattern="/^[0-9]*$/"   required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm=""  >
                          <label>ENGLISH</label>
                          <input ng-model="x.english" minlength=1  required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                          <label>MATHS</label>
                          <input ng-model="x.maths" minlength=1   required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                          <label>SCIENCE</label>
    				                <input ng-model="x.science" minlength=1   required>
                          <!--<input ng-model="x.active" minlength=1 required>-->
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm="">
                          <label>SOCIAL</label>
                          <input ng-model="x.social" minlength=1   required>
                          <!--<input ng-model="x.active" minlength=1 required>-->
                        </md-input-container>
                        <label>Total Marks :{{totalmarks}}</label>
                            <md-dialog-actions>
                        <md-input-container class="md-block">
                          <md-button type="submit" name="submit" class="md-raised" ng-disabled="!createProduct.$dirty">UPDATE</md-button>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <md-button  class="md-raised" ng-click="cancel()" >Cancel</md-button>
                          </md-input-container>
                        </md-dialog-actions>
                      </form>
                    </div>
              </md-dialog-content>
              <md-dialog-actions>
              </md-dialog-actions>
            </md-dialog>
          </script>
                </md-content>
           </md-tab>
         </md-tabs>
       </md-content>
  </div>
</body>
</html>
